.sidebar{
    background-color: #003566 ;
   
    width: 300px;
    height: 100%;
    position:fixed;
    
    border-bottom-right-radius: 15px;
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.5);
    
    

}

body{
    margin: 0;
}

.brand-container{
    text-align: center;
    padding: 20px 0;
}

.link{
    display: block;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    margin: 10px 0;
    font-family: Verdana;
    transition: 0.2s;
       
}

.link:hover{
    background:white ;
    color: rgb(30,30,30);
}

.navigationbar{
    margin-left: 300px;
    background-color:#FFC300 ;
    padding: 50px 15px;
    text-align: center;
}

.pagetitle{
    font-family: Verdana;
    color: white; /* Set the font color to white */
    text-shadow: 
        -2px -2px 0 #000,  /* top-left shadow */
        2px -2px 0 #000,   /* top-right shadow */
        -2px 2px 0 #000,   /* bottom-left shadow */
        2px 2px 0 #000;    /* bottom-right shadow */
    font-size: 30px
}




